@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat Brush", cursive;
}
:root {
  --overlay-color: #111;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}
.showcase.active {
  right: 300px;
}
.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 70px;
  height: 60px;
  background: url("./images/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url("./images/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #344d5a; */
  background-color: rgba(0, 0, 0, 0.5);
  /* mix-blend-mode: overlay; */
}
.text {
  position: relative;
  z-index: 3;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  /* filter: invert(1); */
  margin-right: 20px;
  transform: scale(0.6);
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.social li a:hover {
  transform: scale(0.8) translateY(-15px);
}
.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(121, 213, 230), #f0f);
  clip-path: circle(20% at right 90%);
}
.menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91a63);
  clip-path: circle(20% at 10% 10%);
}
.menu {
  position: absolute;
  background: whitesmoke;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu ul {
  position: relative;
  list-style: none;
}
.menu ul li {
  margin-top: 20px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
  font-weight: bold;
}
.menu ul li a:hover {
  text-decoration: none;
  font-size: 24px;
  color: rgb(62, 176, 204);
}
.copyright {
  margin-top: 100px;
  z-index: 1;
}
/* Contact form */
.form {
  width: 340px;
  height: 400px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 300px) auto;
  padding: 20px 30px;
  max-width: calc(50vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 18px;
  color: #5a5a5a;
}
.form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 5px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.form button:hover {
  background: #78788c;
  color: #fff;
}
/* Team Design */
.cards {
  z-index: 100;
  margin: 0;
  padding: 0;
}
.teamText {
  font-size: 3em;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 100px;
  justify-content: space-around;
}
.card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #88919e;
}
.container .card .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}
.container .card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
.container .card .slide.slide1 {
  background: rgb(203, 203, 219);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}
.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}
.container .card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.container .card:hover .slide.slide2 {
  transform: translateY(0);
}
.container .card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}
.container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.container .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: 40px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  background: #677994;
}
/* Destinations */
.testDest {
  color: #111;
  font-size: 3em;
  text-align: center;
}
.container1 {
  opacity: 0.6;
  z-index: 99;
  max-width: 900px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}
.main-img img,
.imgs img {
  width: 100%;
}
.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
/*Fade in Animation*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

@media (max-width: 991px) {
  .showcase .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
  .form {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .teamText {
    font-size: 2em;
    text-align: center;
    margin-right: 25%;
  }
}
